* {
  box-sizing: border-box;
}

#output {
  width: 256px;
  height: auto;
  position: relative;
  margin: 5% auto 0;
}

#output table {
  /*background-image: radial-gradient(circle, #1d19ff, #620fec, #7f0eda) !important;*/
  background-color: white !important;
}

#text {
  margin-top: 25px;
  color: #3c14f6;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#uniqueID {
  margin-top: 90px;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  height: 100px;
  z-index: 2;
  position: relative;
}

#output #logo {
  width: 48px;
  height: 48px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 23px);
  background-image: url(../img/logo.svg);
  background-position: center;
  box-sizing: border-box;
  background-size: 75%;
  z-index: 2;
  background-repeat: no-repeat;
  background-color: white;
}

/*
.show {
  background-image: url(../img/show.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
*/
.show {
  background-color: #1d19ff;
  border-radius: 50%;
}

.hide {
  background-color: #ffffff;
}

.start1 {
  background-color: white;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.stop1 {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

td {
  border-collapse: collapse;
  box-sizing: border-box;
  transition: 2s;
}

.eye1, .eye2, .eye3, .eye4 {
  position: absolute;
  border: 3px solid white;
  border-radius: 9px;
}

.eye1 {
  left: -3px;
  top: -3px;
}

.eye2 {
  right: -2px;
  top: -3px;
}

.eye3 {
  left: -3px;
  bottom: -3px;
}

td {
  margin: 0.01px solid white;
}

.lis {
  margin: auto;
  width: fit-content;
}

/* MOBILE */
#preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  box-sizing: border-box;
}

#overlay {
  border-top: 30vh solid black;
  border-bottom: 20vh solid black;
  border-left: 17.5vw solid black;
  border-right: 17.5vw solid black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#success {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 999;
}

#success h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 100px;
}

/* beauty
.middle {
  border-radius: 0 !important;
}

.right {
  border-radius: 0 5px 5px 0;
}

.left {
  border-radius: 5px 0 0 5px;
}

.top {
  border-radius: 0;
}

.bottom {
  border-radius: 0;
}

.left.top {
  border-radius: 5px 0px 0px 0px;
  background-color: red;
}

.left.bottom {
  border-radius: 0px 0px 0px 5px;
  background-color: orange;
}

.right.top {
  border-radius: 0px 5px 0px 0px;
  background-color: orangered;
}

.right.bottom {
  border-radius: 0px 0px 5px 0px;
  background-color: yellow;
}*/